<!DOCTYPE html>
<html lang="en">
	<head>
		

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css" type="text/css">

		<link rel="stylesheet" href="public/style.css" type="text/css"/>
		<title>Mongoose Scrape Application</title>
	</head>

	<div class="container-fluid">
		<body>
			<nav>
				<div class="nav-wrapper">
					<a href="#" class="brand-logo right">Logo</a>
					<ul class="tabs tabs-transparent">
				    	<li class="tab"><a href="#test1">Mainstream</a></li>
				        <li class="tab"><a class="active" href="#test2">Independent</a></li>
				        <li class="tab"><a href="#test4">International</a></li>
				    </ul>

				</div>
			</nav>

			{{{ body }}}
			

			<script src="https://code.jquery.com/jquery-3.1.0.min.js" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
		</body>
	</div>
</HTML>