<!DOCTYPE html>
<html lang="en">
	<head>
		

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="../../public/style.css" type="text/css"/>
		<title>Mongoose Scrape Application</title>
	</head>

	<div class="container-fluid">
		<body>
			<nav>
				<div class="nav-wrapper">
					<a href="#" class="brand-logo">Extra, Extra! Read All About it!</a>
				</div>
			</nav>

			{{{ body }}}
			
		
		<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Git Hub</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Linked In</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright
            <a class="grey-text text-lighten-3" href="#!">See the Code!</a>
            </div>
          </div>
        </footer>
			
		</body>
	</div>
</HTML>