<div class= "container">
	<div class="row">
		<div class = "col s8">
			<h2>Panel 1</h2>
			
			<div class="row">
				<ul class = "collection" id = "articles"></ul>
			</div>
		</div>

		<div class = "col s4">
			<h2>Panel 2</h2>

			<div id = "notes"></div>
		</div>

	</div>
</div>

<script src="https://code.jquery.com/jquery-3.1.0.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

<script src="public/app.js"></script>
 