/* use color scheme similar to karl: http://smashfreakz.com/2016/05/free-news-app-ui-design-template/*/

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

 #articles {
 	overflow: auto;
 	height: 700px;
 }